<br>
<br>
<br>

<h1>Category Count: <span class="badge bg-secondary"><%= @category_count %></span></h1>

<br>

<h1>Product Count: <span class="badge bg-secondary"><%= @product_count %></span></h1>

<hr>

<p type="button" class="btn btn-primary"><%= link_to 'Products', [:admin, :products], class: "redirect-a" %></p>
